.main{
  width: 100%;
  @include flexbox(row-reverse);
  justify-content: start;
  align-items: end;
  .otherProfile{
    height: 100%;
    @include flexbox;
  }
}
.userMain{
  width: 100%;
  @include flexbox;
  justify-content: end;
  align-items: start;
}
.chat{
  padding: 2px 30px 15px 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  @include flexbox;
  justify-content:start;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  position: relative;
  >img{
    height: 225px;
    width: 250px;
    object-fit: cover;
  }
  >span{
    padding: 5px;
  }
  >div{
    @include flexbox;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7rem;
  }
  .chatOption{
    width: 200px;
    height: fit-content;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--text-color);
    @include flexbox(column, start, start);
    >button{
      width: 100%;
      height: 50px;
      @include flexbox;
      background-color: var(--primary-color);
      color: var(--text-color);
      border: none;
    }
  }
}
.userChat{
  padding: 2px 45px 15px 5px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  @include flexbox;
  justify-content: start;
  border-radius: 10px;
  border-top-right-radius: 0px;
  position: relative;
  
  >img{
    height: 225px;
    width: 250px;
    object-fit: cover;
  }
  >span{
    padding: 5px;
  }
  >div{
    @include flexbox;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7rem;
    color: var(--text-color);
    
    img{
      cursor: pointer;
      width: 20px;
      height: 20px;
      color: var(--text-color);
    }
  }
  .viewDetails{
    width: 200px;
    height: fit-content;
    position: absolute;
    left: -200px;
    background-color: var(--primary-color);
    color: var(--text-color);
    @include flexbox(column, space-between, start);
    transition: visibility 0.3s ease-in-out; /* Smooth transition */
    >div{
      width: 100%;
      @include flexbox(column, start, start);
      >span{
        &:first-child{
          font-size: 1.2rem;
        }
      }
    }
  }
  .chatOption{
    width: 200px;
    height: fit-content;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--text-color);
    @include flexbox(column, start, start);
    >button{
      width: 100%;
      height: 50px;
      @include flexbox;
      background-color: var(--primary-color);
      color: var(--text-color);
      border: none;
    }
  }
}



.triangle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--primary-color);
}

.usertriangle{
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--secondary-color);
}

@media (max-width: $tablet) {
  .userChat > img {
    height: 150px;
    width: 175px;
  }
  .chat > img {
    height: 150px;
    width: 175px;
  }
}
