.main{
  width: 100vw;
  height: 100vh;
  @include flexbox;
  background-color: var(--tertiary-color);
  position: relative;

  .mainImg{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    @include flexbox(column, space-between, end);
    box-shadow: 0 0 10px 5px rgba(var(--primary-color), 0.25);
    z-index: 10;
    >span{
      cursor: pointer;
    }
    >img{
      width: 100%;
      height: 90%;

    }
  }

  .cut{
    top: 20px;
    right: 20px;
    position: fixed;
  }

  .left{
    width: 25%;
    height: 100%; 
    background-color: var(--spider-red);
    @include flexbox(column, end);
    gap: 10%;
    .info{
      width: 70%;
      height: 70%;
      @include flexbox(column, start);
      gap: 5%;
      .profile{
        width: 100%;
        height: 50%;
        @include flexbox(column);
        position: relative;
        .profileOptions{
          position: absolute;
          top: 40%;
          left: 40%;
          height: 90px;
          width: 100px;
          background-color: white;
          box-shadow: 0 0 10px 5px rgba(var(--primary-color), 0.25);
          @include flexbox(column);
          >button{
            width: 100%;
            height: 50%;
            border: none;
            color: black  ;
          }
        }
        >div{
          background-color: #fff;
          width: 80%;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          overflow: hidden;
          
          
          >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          >input{
            display: none;
          }
        }
        >span{
          font-size: 1.7rem;
        }
      }
      .description{
        box-shadow: 0px 0px 20px 5px rgba($color: white, $alpha: 0.25);
        padding: 2%;
        width: 100%;
        height: 50%;
        border-radius: 20px;
        @include flexbox(column, start);
        gap: 2.5%;
        background-color: rgba(var(--primary-color), 0.25);
        position: relative;
        >span{
          font-size: 1.2rem;
          font-weight: bold;
        }
        >textarea{
          box-sizing: border-box;
          padding: 5px;
          text-align: top;
          resize: none;
          font-size: 1.1rem;
          width: 90%;
          background-color: transparent;
          box-shadow: 0 0 10px 5px rgba(var(--primary-color), 0.25);
          border: none;
          height: 80%;
          scrollbar-width: none;
          
          &:focus{
            outline: none;
          }
        }
        .charCount {
          position: absolute;
          bottom: 10px;
          right: 15px;
          font-size: 0.8rem;
          color: var(--text-color);
        }
        .descButton{
          width: 50%;
          height: 8%;
          background-color: var(--spider-red);
          border: none;
          color: white;
          >img{
            width: 100%;
            height: 100%;
            color: white
          }
        }
      }
    }
    .leave{
      height: 10%;
      width: 50%;
      @include flexbox(row, space-around);
      >button{
        font-size: 1.4rem;
        width: 90%;
        height: 50%;
        border: none;
        background-color: var(--spider-red);
        >img{
          height: 80%;
        }
      }
    }
  }
  
  .right{
    width: 75%;
    height: 100%;
    @include flexbox(column, space-around, end);
    .media{
      width: 90%;
      height: 30%;
      @include flexbox(column);
      align-items: start;
      gap: 5%;
      >span{
        font-size: 1.4rem;
      }
      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    .members{
      width: 90%;
      height: 65%;
      @include flexbox(column, start, start);
      gap: 5%;
      >div{
        &:first-child{
          width: 90%;
          @include flexbox;
          justify-content: start;
          font-size: 1.4rem;
          height: 10%;
        }
        width: 90%;
        height: 90%;
        overflow-y: scroll;
        box-sizing: border-box;
        scrollbar-width: none;
        gap: 5%;
        @include flexbox(column, start, start);
        .memberInfo{
          height: 12%;
          width: 100%;
          @include flexbox;
          justify-content: space-between;
          >div{
            
            height: 100%;
            font-size: 1.2rem;
            &:first-child{
              max-width: fit-content;
              width:10%;
              @include flexbox;
              >div{
                height: 100%;
                aspect-ratio: 1/1;
                background-color: #fff;
                border-radius: 50%;
                
              }
            }
            &:last-child{
              width: 30%;
              @include flexbox;
              justify-content: end;
              gap: 10%;
              position: relative;
              >img{
                cursor: pointer;
              }

              .admin{
                padding: 5px;
                background-color: var(--spider-red);
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 0.8rem;
                font-weight: lighter;
              }
              .adminOptions{
                position: absolute;
                bottom: 0;
                right: 10%;
                @include flexbox(column);
                > button{
                  color: black;
                  width: 100px;
                  height: 30px;
                  border: none;
                }
              }
            }
            width: 50%;
            @include flexbox(column, space-evenly, start);
          }
        }

      }
    }

  }
  @media (max-width: $tablet) {
    min-height: 200vh;
    @include flexbox(column);
    .left{
      background-color: var(--tertiary-color);
      width: 100%;
      min-height: 100vh;
      .info{
        .profile{
          width: 80%;
        }
        .description{
          .descButton{
            width: 30%;
          }
        }
      }
      .leave{
        width: 40%;
        >button{
          width: 80%;
          border-radius: 5px;
          @include flexbox;
        }
      }
    }
    .right{
      width: 100%;
      min-height: 100vh;
      .members{
        >div{
          .memberInfo{
            >div{
              &:first-child{width: 15%;}
            }
          }
        }
      }
    }
  }
}