.main{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  @include flexbox;
  overflow:hidden;
  
}
.backimg{
  width: 65%;
  height: 90%;
  position: fixed;
  top:5%;
  left:-10%;
  @media (max-width: $tablet) {
    width: 80%;
    height: 60%;
    top: -2%;
    left: 10%;
  }
  @media (max-width: $mobile) {
    width: 90%;
  }
}

.authContainer{
  
  width: 98%;
  height: 95%;
  @include flexbox();
  // box-shadow: 
  //   inset 0 0 15px 3px rgba(217,217,217,0.1) ,
  //   0 0 15px 5px rgba(217,217,217,0.1),
  //   0 0 30px 5px rgba(217,217,217,0.075),  
  //   0 0 45px 5px rgba(217,217,217,0.05) ;
  border-radius: 20px;
  overflow:hidden;
  @media (max-width: $tablet) {
    @include flexbox(column);
    gap: 20px;
  }
}

.left, .right{
  height: 100%;
  color: var(--text-color);
}

.left {
  background-color: var(--spider-red);
  position: relative;
  width: 34%;
  border-radius: 20px;
  @include flexbox(row, start, start);
  >img{
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}

.right{
  @include flexbox(column);
  width: 64%;
  gap: 7.5px;
  .heading{
    width: 40%;
    font-size: 4rem;
    @include flexbox(column);
    align-items: start;
    >span:last-child{
      font-size: 0.9rem;
      >span{
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          transition: transform 0.3s ease;
        }
      } 
    }
  }

  .infoContainer{
    width: 40%;
    height: 20%;
    @include flexbox(column, start);
    gap: 3%;
    >div{
      @include flexbox;
      height: 30%;
      width: 100%;
      background-color: var(--primary-color);
      >input{
        background-color: var(--primary-color);
        color: var(--text-color);
        height: 100%;
        width:505%;
        border-radius: 10px;
        padding-left: 5%;
        font-size: 1rem;
        box-sizing: border-box;
        border: 0.5px solid var(--text-color);
      }
    }

    >input{
      max-width: 100%;
      min-width: 100%;
      border: 0.5px solid var(--text-color);
      background-color: var(--primary-color);
      color: var(--text-color);
      height: 30%;
      border-radius: 10px;
      padding-left: 5%;
      font-size: 1rem;
      box-sizing: border-box;

    }
    input:focus{
      outline: none;
    }
  }

  .submit{
    width: 40%;
    @include flexbox;
    
    button{
      width: 100%;
      font-size: 1.1rem;
      padding: 4% 0;
      border: none;
      background-color: var(--spider-red);
      color: var(--text-color);
      border-radius: 10px;
    }
    button:hover{
      background-color: var(--text-color);
      color: var(--spider-red);
    }
  }

}

@media (max-width: $tablet) {
  .left{
    width: 90%;
    height: 53%;
  }
  .right{
    width: 90%;
    height: 43%;
    .heading{
      width: 100%;
    }
    .infoContainer{
      height: 40%;
      width: 100%;
    }
    .submit{
      height: 15%;
      width: 100%;
    }
  }
}

