.main{
  width: 60%;
  height: 70%;
  background:
    url('../../Assets/chatWeb.svg') no-repeat center,
    radial-gradient(
      at center, /* Set ellipse shape and center position */
      #9D1F13,          /* Starting color */
      #090909           /* Ending color */
    );
  background-size: 150%, cover;
  background-position: right, center;
  @include flexbox(column, space-evenly);
  position: fixed;
  top: 15%;
  left: 20%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}
.name{
  width: 100%;
  height: 15%;
  @include flexbox;
  >input{
    width: 50%;
    padding: 0 10px;
    height: 80%;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: $textColor;
    background-color: $primaryColor;
}}
.Users{
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap; /* Enables wrapping to the next row */
  gap: 10px; /* Optional: Adds spacing between items */
  
}
.single{
  border-radius: 15px;
  flex: 1 1 calc(33.333% - 10px); /* 3 columns layout */
  min-width: calc(33.333% - 10px); /* Ensures proper column size */
  max-width: calc(33.333% - 10px); /* Avoids expanding too much */
  height: 70px;
  box-sizing: border-box;
  background-color: $primaryColor;
  color: $textColor;
  @include flexbox
}
.include{
  border-radius: 15px;
  flex: 1 1 calc(33.333% - 10px); /* 3 columns layout */
  min-width: calc(33.333% - 10px); /* Ensures proper column size */
  max-width: calc(33.333% - 10px); /* Avoids expanding too much */
  height: 70px;
  box-sizing: border-box;
  background-color: rgba($secondaryColor, 0.8);
  color: $textColor;
  @include flexbox
  
}
.pfp{
  width: 25%;
  height: 100%;
  @include flexbox;
  >div{
    width: 40px;
    height: 40px;
    background-color: $textColor;
    border-radius: 50%;
  }
  
}
.info{
  width: 75%;
  height: 100%;
  @include flexbox(column, space-evenly, start);
}

.make{
  width: 100%;
  height: 15%;
  @include flexbox;
  >button{
    width: 20%;
    height: 60%;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: $textColor;
    background-color: $primaryColor;
  }
}