.main{
  background-color: $navColor;
  width: 5%;
  height: 100%;
  @include flexbox(column, space-between, center)

}
.pfp{
  width: 100%;
  height: 15%;
  min-height: 100px;
  @include flexbox(column, start);
  
  > div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $textColor;
  }
}

.mid {
  width: 100%;
  height: 80%;
}

.settings{
  width: 100%;
  height: 10%;
  min-height: 100px;
  @include flexbox;
  align-self: start;
  > div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    >img{
      width: 100%;
      height: 100%;
    }
  }
}