.main {
  background-color: var(--primary-color);
  width: 71%;
  height: 100%;
  @include flexbox(column);
  justify-content: space-between;

  /* Diamond Gradient Effect */
  background:
    url('../../../Assets/chatWeb.svg') no-repeat center,
    var(--home-gradient);
  background-size: 150%, cover; /* Ensures all layers fit the container */
  background-position: right, center; /* Aligns everything centrally */
  @media (max-width: $desktop) {
    width: 65%;
  }
  @media (max-width: $laptop) {
    width: 100%;
  }
}
