.main{
  width: 100vw;
  height: 100vh;
  @include flexbox(column, space-evenly, center);
  background-color: var(--tertiary-color);
  overflow: hidden;
  
  @media (max-width: $laptop) {
    min-height: 160vh;
    width: 100vw;
    justify-content: center;
    overflow: hidden;
  }

  .preview{
    position: fixed;
    width: 60%;
    height: 60%;
    top: 20%;
    border-radius: 30px;
    left:20%;
    box-shadow: 0px 0px 15px 5px var(--text-color);
    z-index: 6;
  }
  .cut{
    top: 20px;
    right: 20px;
    position: fixed;
  }
  
  .info{
    width: 90%;
    height: 45%;
    @include flexbox(row, space-around);
    >div{
      width: 22%;
      height: 100%;
      @include flexbox(column, space-between);
      &:last-of-type{
        justify-content: start;
      }
    }
    .profile{
      .photo{
        width: 65%;
        aspect-ratio: 1 / 1; // Ensures the height is equal to the width  
        height: 55%;
        border-radius: 50%;
        background-color: var(--nav-color);
        overflow: hidden;
        >img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      >div{
        @include flexbox(column, space-between);
        height: 35%;
        width: 100%;
        >button{
          width: 100%;
          height: 45%;
          background-color: #397DCF;
          font-size: 1.2rem;
          border: none;
          border-radius: 10px;
          color: white;
          >input{
            display: none;
          }
          &:last-of-type{
            background-color: #7B93B0;
          }
        }
      }
      
    }
    .userInfo{
      color: white;
      >div{
        width: 100%;
        @include flexbox(column, center, start);
        font-size: 1.2rem;
        >div{
          @include flexbox;
          justify-content: space-between;
          align-items: start;
          width: 100%;
          height: 100%;
          position: relative;
          >textarea{
            font-size: 1.2rem;
            width: 85%;
            background-color: transparent;
            scrollbar-width: none;
            resize: none;
            height: fit-content;
            border: none;
            &:focus{
              outline: none;
            }
          }
          >button{
            z-index: 5;
            width: 10%;
            color: white;
            height: fit-content;
            background-color: transparent;
            font-size: 1.2rem;
            border: none;
            >img{
              width: 100%;
              height: 100%;
              color: white
            }
          }
          .charCount {
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: 0.8rem;
            color: var(--text-color);
          }
        }
        >span:first-of-type{
          font-size: 1rem;
          color: #7B93B0;
        }
      }
    }
  
  .logout{
    >button{
      width: 100%;
      height: 15%;
      background-color: #397DCF;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 1.2rem;
    }
  }
  }

  .themes{
    width: 90%;
    height: 40%;
    @include flexbox(row, space-around);
    .themeBox{
      width: 22%;
      height: 80%;
      border-radius: 20px;
      overflow: hidden;
      @include flexbox(column, space-between);
      .theme{
        width: 100%;
        height: 80%;
        position: relative;
        background-color: var(--secondary-color) !important;
        border-bottom-left-radius: 20px;
        >div{
          position: absolute;
          bottom: 0;
          right: 0;
          aspect-ratio: 1 / 1; // Ensures the height is equal to the width
          width: 25%;
          border-radius: 10px;
          border-bottom-right-radius: 0;
          background-color: var(--tertiary-color);
          @include flexbox;
          >button{
            
            width: 80%;
            aspect-ratio: 1 / 1; // Ensures the height is equal to the width
            border: none;
            border-radius: 50% ;
            background-color: var(--nav-color);

          }
        }
      }  
      >span{
        color: white;
        &:last-child{
          font-size: 0.8rem;
          color: var(--text-color);
        }
      }
    }
  }
  @media (max-width: $laptop) {
    .info{
      max-width: 90%;
      @include flexbox(column, space-between, center);
      min-height: 80vh;
      >div{
        width: 90%;
        height: 45%;
        &:last-child{
          height: 10%;
        }
      }
    
    .profile {
      display: flex;
      @include flexbox(column);
      gap: 20px; /* Adds spacing between elements */
  
      .photo {
        width: 30%; /* Reduce profile picture size */
      }
      >div{
        @include flexbox(row, space-between);
        >button {
          width: 40%; /* Each button takes 40% width */
          padding: 3% 0; /* Adjust button height */
          @include flexbox;
        }
      }
      
    }
    .userInfo{
      >div{
        >div{
          >button{
            @include flexbox(row, end);
            >img{
              width: 40%;
              height: 40%;
            }
          }
        }
      }
    }
    .logout{
      height: 100%;
      @include flexbox;
        >button{
          height: 80%;
        }
    }
  }
    .themes{
      max-width: 90%;
      min-height: 80vh;
      @include flexbox(column, space-around);
      .themeBox{
        height: 30%;
        width: 90%;
        .theme{
          background-image: none !important;
          >div{
            height: 100%;
            width: 30%;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .profile{
    .photo{
      width: 35%;
    }
  }
}