.main{
  width: 100vw;
  height: 100vh;
  background-color: $primaryColor;
  @include flexbox;
  overflow:hidden;
  
}
.backimg{
  width: 65%;
  height: 90%;
  position: fixed;
  top:5%;
  left:-10%;
}

.authContainer{
  
  width: 98%;
  height: 95%;
  @include flexbox();
  // box-shadow: 
  //   inset 0 0 15px 3px rgba(217,217,217,0.1) ,
  //   0 0 15px 5px rgba(217,217,217,0.1),
  //   0 0 30px 5px rgba(217,217,217,0.075),  
  //   0 0 45px 5px rgba(217,217,217,0.05) ;
  border-radius: 20px;
  overflow:hidden;
}

.left, .right{
  height: 100%;
  color: $textColor;
}

.left {
  background-color: $spiderRed;
  position: relative;
  width: 34%;
  border-radius: 20px;
  @include flexbox(row, start, start);
  >img{
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}

.right{
  @include flexbox(column);
  width: 64%;
  gap: 7.5px;
  .heading{
    width: 40%;
    font-size: 4rem;
    @include flexbox(column);
    align-items: start;
    >span:last-child{
      font-size: 0.9rem;
      >span{
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          transition: transform 0.3s ease;
        }
      } 
    }
  }

  .infoContainer{
    width: 40%;
    height: 15%;
    @include flexbox(column, start);
    gap: 3%;
    >input{
      max-width: 100%;
      min-width: 100%;
      border: 0.5px solid $textColor;
      background-color: $primaryColor;
      color: $textColor;
      height: 49%;
      border-radius: 10px;
      padding-left: 5%;
      font-size: 1rem;
      box-sizing: border-box;

    }
    input:focus{
      outline: none;
    }
  }

  .submit{
    width: 40%;
    @include flexbox;
    
    button{
      width: 100%;
      font-size: 1.1rem;
      padding: 4% 0;
      border: none;
      background-color: $spiderRed;
      color: $textColor;
      border-radius: 10px;
    }
    button:hover{
      background-color: $textColor;
      color: $spiderRed;
    }
  }

}


