/* themes.css */
:root {
  --primary-color: #181818;
  --secondary-color: #232323;
  --tertiary-color: #090909;
  --nav-color: #151515;
  --text-color: #E0E0E0;
  --spider-red: #9D1F13;
  --home-gradient: radial-gradient(
    at center, /* Set ellipse shape and center position */
    #9D1F13,          /* Starting color */
    #090909           /* Ending color */
  );
  --cursor: url('/ogcursor.png');
}

[data-theme="mm"] {
  --primary-color: #181818;
  --secondary-color: #232323;
  --tertiary-color: #090909;
  --nav-color: #151515;
  --text-color: #E0E0E0;
  --spider-red: #9D1F13;
  --home-gradient: radial-gradient(
    at center, /* Set ellipse shape and center position */
    #9D1F13,          /* Starting color */
    #090909           /* Ending color */
  );
  --cursor: url("/spiderCursor.png");
}

[data-theme="og"] {
  --primary-color: #181818;
  --secondary-color: #232323;
  --tertiary-color: #151515;
  --nav-color: #090909;
  --text-color: #E0E0E0;
  --spider-red: #9D1F13;
  --home-gradient: radial-gradient(
    at center, /* Set ellipse shape and center position */
    #9F0707,          /* Starting color */
    #03022A,
    #010011           /* Ending color */
  );
  --cursor: url("/ogcursor.png");
}

html[data-theme="gw"] {
  --primary-color: #ff9dcc;
  --secondary-color: #dedddd;
  --tertiary-color: #f2f2f2;
  --nav-color: #fa68af;
  --text-color: #252523;
  --spider-red: #37f5f5;
  --home-gradient: radial-gradient(
    at center,
     /* Set ellipse shape and center position */
    #f6b1d2,         /* Starting color */
    #FEFEFE           /* Ending color */
  );
  --cursor: url("/gwcursor.png");
}

