.main{
  width: 100%;
  height: 75px;
  min-height: 80px;
  @include flexbox;
  justify-content: center;
  background-color: var(--nav-color);
}

.pfp{
  width: 6%;
  @include flexbox;
  justify-content: start;

  >div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--text-color);
    overflow: hidden;
    >img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.info{
  @include flexbox(column, space-between, start);
  width: 74%;
  height: 50%;
  font-size: x-small;
  >span:first-child{
    font-size: medium;
  }
}
.callBox{
  width: 10%;
  @include flexbox;
  justify-content: end;
  gap: 5px;
  >div{
    width: 45px;
    height: 40px;
    @include flexbox;
    background-color: var(--spider-red);
    border-radius: 10px;
    &:last-child{
      background-color: var(--nav-color);
    }
  }
}

@media (max-width: $tablet) {
  .pfp{
    width: 12%;
  }
  .info{
    width: 68%;
  }
}