.main{
  width: 60%;
  height: 70%;
  background:
    url('../../Assets/chatWeb.svg') no-repeat center,
    var(--home-gradient);
    background-size: 150%, cover;
    background-position: right, center;
  display: flex;
  flex-wrap: wrap; /* Enables wrapping to the next row */
  gap: 10px; /* Optional: Adds spacing between items */
  position: fixed;
  top: 15%;
  left: 20%;
  align-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}

.single{
  border-radius: 15px;
  flex: 1 1 calc(33.333% - 10px); /* 3 columns layout */
  min-width: calc(33.333% - 10px); /* Ensures proper column size */
  max-width: calc(33.333% - 10px); /* Avoids expanding too much */
  height: 70px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--text-color);
  @include flexbox
  
}
.pfp{
  width: 25%;
  height: 100%;
  @include flexbox;
  >div{
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    border-radius: 50%;
  }
  
}
.info{
  width: 75%;
  height: 100%;
  @include flexbox(column, space-evenly, start);
}

@media (max-width: $laptop) {
  
  .single{
    flex: 1 1 calc(50% - 10px); /* 3 columns layout */
    min-width: calc(50% - 10px); /* Ensures proper column size */
    max-width: calc(50% - 10px); /* Avoids expanding too much */
  }
}

@media (max-width: $tablet) {
  .main{
    @include flexbox(column, start, start);
    flex-wrap: nowrap; 
  }
    .single{
      min-width: 100%;
      max-height: 20%;
    }
}