.main{
  position: absolute;
  width: 40%;
  height: 60%;
  @include flexbox(column, space-between);
  background-color: var(--primary-color);
  color: var(--text-color);
  .avBox{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    @include flexbox(column, space-between);
    >video{
      width: 100%;
      height: 90%;
    }
  }
  > div{
    width: 100%;
    height: 10%;
    @include flexbox;
    justify-content: space-evenly;
    >button{
      background-color: var(--spider-red);
      color: white;
      border: none;
      height: 80%;
      border-radius: 50%;
      >img{
        width: 90%;
        height: 90%;
      }
    }
  }
}

.incoming{
  position: absolute;
  width: 40%;
  height: 30%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10%;
  @include flexbox(column, end);
  .acceptReject{
    width: 100%;
    height: 20%;
    @include flexbox;
    justify-content: space-evenly;
    >button{
      width: 40px;
      height: 40px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 50%;
      @include flexbox;
      &:last-child{
        background-color: greenyellow;
      }
      >img{
        height: 80%;
      }
    }
  }
  .info{
    width: 100%;
    height: 80%;
    @include flexbox(column);
  }
}