.main{
  position: absolute;
  width: 40%;
  height: 60%;
  @include flexbox(column, space-between);
  background-color: var(--primary-color);
  color: var(--text-color);
  .avBox{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    @include flexbox(column, space-between);
    >video{
      width: 100%;
      height: 90%;
    }
  }
  > div{
    width: 100%;
    height: 10%;
    @include flexbox;
    justify-content: space-evenly;
    >button{
      background-color: var(--text-color);
      color: var(--primary-color);
      border: none;
    }
  }
  
}


.incoming{
  position: absolute;
  width: 40%;
  height: 60%;
  background-color: var(--primary-color);
  color: var(--text-color);
  @include flexbox(column, end);
  .acceptReject{
    width: 100%;
    height: 20%;
    @include flexbox;
    justify-content: space-evenly;
    >button{
      width: 40px;
      height: 40px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 50%;
      &:last-child{
        background-color: greenyellow;
      }
    }
  }
  .info{
    width: 100%;
    height: 80%;
    @include flexbox(column);
  }
}